<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Answers:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Answers</h1>

    <f:flashMessages />

    <table class="tx_cmmultiplechoice">
        <tr>
            <th><f:translate key="tx_cmmultiplechoice_domain_model_answers.answer" /></th>
            <th><f:translate key="tx_cmmultiplechoice_domain_model_answers.correct" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{answers}" as="answers">
            <tr>
                <td><f:link.action action="show" arguments="{answers : answers}">{answers.answer}</f:link.action></td>
                <td><f:link.action action="show" arguments="{answers : answers}">{answers.correct}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{answers : answers}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{answers : answers}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Answers</f:link.action>
</f:section>
</html>
